:root {
  --dark: #323232;
  --darker: #121212;
  --light: #eaeaea;
  --primary: #00FF00;
}

@font-face {
  font-family: Digital-7;
  src: url(/assets/style/digital-7.ttf)
}

p {
  margin: 0;
}

.machine {
  padding: 1em;
  margin-top: 1em;
  box-shadow: 0 0 0 10px var(--dark), 10px 10px 0 10px var(--darker);
}

.item {
  aspect-ratio: 1/1;
  border-radius: 15px;
  border: 2px solid var(--dark);
  margin-bottom: 1em;
  background-size: cover;
  background-position: center;
}

.item-desc {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 0 0 10px 10px;
  padding: 1em;
}

.numpad-cont {
  background-color: var(--dark);
  color: var(--primary);
  font-family: 'Digital-7';
  width: 20%;
}

.input-field {
  background-color: var(--darker);
  font-size: 3rem;
  height: 2em;
  display: flex;
  align-items: end;
  justify-content: end;
}

.btn-numpad {
  aspect-ratio: 1/1;
  cursor: pointer;
  background-color: var(--darker);
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-numpad:hover {
  background-color: var(--dark);
}

.bottom {
  background-color: var(--dark);
  height: 10em;
  padding: 2em;
}

.output {
  background-color: var(--darker);
  height: 100%;
}